@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f5f5f5;
}

/* 범용 */
.container {
  max-width: 640px;
  min-width: 300px;
  margin: auto;
}


/* 글씨 크기 */

h2 {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

.title {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.25px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 1px;
  font-weight: 500;
}

.contentP1 {
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: -0.25px;
  font-weight: 400;
}


/* 색상 */

.gray5 {
  color:#8E8893
}

.gray2 {
  color:#656267
}

.gray3 {
  color:#C9C5CC;
}

.whiteP {
  color:#fff;
}

.purple3 {
  color:#7649F5
}

/* 버튼들 */

.basicBtn {
  display: inline-block;
  background-color: #5B35C5;
  padding:10px 40px;
  border-radius: 8px;
  color:#fff;
  font-weight: 500;
  font-size: 14px;
}

.outlineBtn {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 0 2px #5B35C5 inset;
  padding:10px 40px;
  border-radius: 8px;
  color:#5B35C5;
  font-weight: 600;
  font-size: 14px;
}

.grayBtn {
  display: inline-block;
  background-color: #E9E9E9;
  padding:10px 40px;
  border-radius: 8px;
  color:#3A353E;
  font-weight: 600;
  font-size: 14px;
}

.closeBtn {
  display: block;
  content: "";
  width:18px;
  height: 18px;
  background: url('../img/close.png') no-repeat center/ contain;
  position: absolute;
  right:30px;
  top:30px;
  z-index: 1;
}

.arrowR:after {
  display: inline-block;
  content: "";
  width:10px;
  height: 15px;
  vertical-align: middle;
  background: url('../img/arrow-right.png')no-repeat center / contain;
  margin-left: 8px;
}

.smallBtnP {
  display: inline-block;
  background-color: #5B35C5;
  padding:5px 10px;
  border-radius: 50px;
  color:#fff;
  font-weight: 400;
  font-size: 14px;
}

.smallBtnG {
  display: inline-block;
  background-color: #C9C5CC;
  padding:5px 10px;
  border-radius: 50px;
  color:#3A353E;
  font-weight: 400;
  font-size: 14px;
}

.smallBtnG2 {
  display: inline-block;
  background-color: #EDEBEE;
  padding:4px 10px;
  border-radius: 50px;
  color:#3A353E;
  font-weight: 400;
  font-size: 13px;
}




/* 구분 선 */
.mainhr {
  color:#E7E2EB;
  border-width:1px 0 0 0; border-style:solid;
  margin:20px 0;
}

.hr10px {
  color:#F5F5F5;
  border-width:10px 0 0 0; border-style:solid;
  margin:20px 0;
}