@charset "UTF-8";


/* 헤더 */
header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  height: 50px;
  position: fixed;
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.container {
  background-color: #fff;
  overflow: hidden;
}

.ticketInfo {
  position: absolute;
  background-color: #793AFF;
  color:#fff;
  font-weight: 800;
  font-size: 12px;
  padding:3px 7px;
  border-radius: 5px;
  right: -5px;
  top:-10px;
}

header a:first-child {
  position: relative;
}
header a:first-child img {
  height: 20px;
}

header h1 {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

header img {
  height: 20px;
}
.rightNav a {
  display: inline-block;
  margin-left:8px;
}
.rightNav a:last-child img {
  height: 16px;
}

/* 네비게이션 */
.container {
  position: relative;
}

nav {
  height: 70px;
  background-color: #fff;
  position: fixed;
  bottom:0;
  width:100%;
  max-width: 640px;
  min-width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index:2;
  font-size:12px
}

.circle {
  background-color: #5B35C5;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color:#fff;
  font-weight: 700;
  position: absolute;
  bottom:15px;
  left:50%;
  transform: translateX(-50%);
  outline:5px solid #fff;
  z-index:3;
  box-shadow:0 -5px 8px rgba(0,0,0,0.5);
  font-size:14px
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
nav > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:8px;
}

nav > ul > li:nth-child(1) > a > img { width:30px;}
nav > ul > li:nth-child(2) > a > img { width:24px;}
nav > ul > li:nth-child(3) > a > img { width:27px;}
nav > ul > li:nth-child(4) {
  opacity: 0;
}
nav > ul > li:nth-child(5) > a > img { width:26px;}
nav > ul > li:nth-child(6) > a > img { width:24px;}



/* 메인 섹션 */
main {
  margin-top:50px;
  padding:0 12px;
}

.main_top {
  padding:16px 10px;
  border-bottom: 1px solid #E7E2EB;
}
.main_top img {
  height: 28px;
}
.main_top_left {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
}

input[type="search"] {
  border: none;
  outline: none;
  width: 100%;
  background-color: #F2F2F2;
  height: 45px;
  border-radius: 10px;
  margin: 28px 0;
  padding:0 45px 0 20px;
} 
.search_wrap {
  position: relative;
}

.search_icon{
  position: absolute;
  width: 20px;
  height: 20px;
  top:40px;
  right: 14px;
  z-index: 20;
  cursor: pointer;
  background: url('../img/search.png')no-repeat center/ contain;
}

.mySwiper {
  border: red solid 2px;
  height: 150px;
  width: 100%;
  overflow: hidden;
}


.swiper-slide {
  background: orange;
  height: 10px;
}

/* 푸터 */

footer {
  background-color: #E2E1E5;
  border-radius: 20px 20px 0 0;
  color:#545255;
  padding:40px 20px 80px;

}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-bottom: 28px;
}
.linebreak {
  flex-basis: 100%;
}

.footer_top img {
  width: 109px;
  height: 36px;
}

.footer_top ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: end;
  letter-spacing: -0.85px;
  gap:8px;
}

.footer_top strong {
  font-weight: 600;
}

.footer_btm {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: 60px;
}