@charset "UTF-8";


/* 헤더 */
header {
  background-color: #29292F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 20px;
  height: 50px;
  position: fixed;
  width: 100%;
  max-width: 640px;
  min-width: 300px;
  z-index: 100;
}

.container {
  background-color: #fff;
  overflow: hidden;
}

.ticketInfo {
  position: absolute;
  background-color: #793AFF;
  color:#fff;
  font-weight: 800;
  font-size: 12px;
  padding:3px 7px;
  border-radius: 5px;
  right: -5px;
  top:-10px;
}

header a:first-child {
  position: relative;
}
header a:first-child img {
  height: 20px;
}

header h1 {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

header img {
  height: 20px;
}
.rightNav a {
  display: inline-block;
  margin-left:8px;
}
.rightNav a:last-child img {
  height: 16px;
}

/* 네비게이션 */
.container {
  position: relative;
}

nav {
  height: 70px;
  background-color: #fff;
  position: fixed;
  bottom:0;
  width:100%;
  max-width: 640px;
  min-width: 300px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index:2;
  font-size:12px
}

.circle {
  background-color: #5B35C5;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color:#fff;
  font-weight: 700;
  position: absolute;
  bottom:15px;
  left:50%;
  transform: translateX(-50%);
  outline:5px solid #fff;
  z-index:3;
  box-shadow:0 -5px 8px rgba(0,0,0,0.5);
  font-size:14px
}
nav > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
nav > ul > li > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:8px;
}

nav > ul > li:nth-child(1) > a > img { width:30px;}
nav > ul > li:nth-child(2) > a > img { width:24px;}
nav > ul > li:nth-child(3) > a > img { width:27px;}
nav > ul > li:nth-child(4) {
  opacity: 0;
}
nav > ul > li:nth-child(5) > a > img { width:26px;}
nav > ul > li:nth-child(6) > a > img { width:24px;}


/* 비쥬얼 */
#visual {
  width: 100%;
  height: 200px;
  margin-top:50px;
}

#visual img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}



/* 메인 섹션 */

.blackbox {
  background-color: #2C292F;
}
.whitebox {
  background-color: #fff;
}
.backgra {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(44,41,47,1) 100%);
  ;
}

section {
  padding:20px 12px;
}

.ad {
  text-align: center;
  padding:36px 0;
}

.ad img {
  width: 80%;
  border-radius: 5px;
  height: 80px;
  object-fit: cover;
  object-position: left;
}


/* 카드 공용 */
h4 {
  font-size:16px;
  font-weight: 800;
  line-height: 1.3;
  margin-bottom: 2px;
}

.cardWrap {
  margin:20px 0;
  display: flex;
  flex-wrap: nowrap;
}

.boxBtn {
  display: inline-block;
  background-color: #5B35C5;
  padding:9px 16px;
  border-radius: 8px;
  color:#fff;
  font-weight: 600;
  font-size: 13px;
  margin-top: 20px;
}

/* 박스오피스 */
.boxoffice h2 {
  display: inline-block;
}
.boxoffice a {
  color:#A3A1A5;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
}

.boxCard {
  flex-basis: 160px;
  height: 320px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  overflow: hidden;
  flex-shrink: 0;
}

.boxCard_img {
  flex:3;
  overflow: hidden;
}

.boxCard_img img {
  width: 100%;
  object-position:center center;
  object-fit: cover;
}

.boxCard_txt {
  flex:1;
  padding:12px;
  background-color: #fff;
}

.boxCard_txt p {
  font-weight: 600;
  line-height: 1.3;
  font-size:13px;
}

.boxCard_txt p > span:before {
  display: inline-block;
  content: "";
  width:16px;
  height: 16px;
  background: url('../img/star.png')no-repeat center / contain;
  margin:0 2px 0 8px;
  transform: translateY(1px);
}

.boxCard_more {
  width: 180px;
  height: 320px;
}
.boxCard_more a {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color:#A3A1A5;
}
.boxCard_more img {
  width: 56px;
}

/* 시사회-무대인사 */
.greetingCard {
  display: flex;
  flex-basis: 320px;
  border-radius: 12px;
  height: 180px;
  flex-shrink: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  overflow: hidden;
  width: 100%;
}

.greetingCard_img {
  flex:3;
  background: no-repeat center/ cover;
}

.greetingCard:first-child .greetingCard_img {background-image: url('../img/poster3.jpg');}
.greetingCard:nth-child(2) .greetingCard_img {background-image: url('../img/poster2.jpg');}
.greetingCard:nth-child(3) .greetingCard_img {background-image: url('../img/poster11.jpg');}

.greetingCard_txt {
  background-color: #fff;
  flex:4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:20px 12px;
}

.greetingCard_txt span {
  font-size:14px;
  color:#793AFF;
  font-weight: 900;
}

/* 이벤트 */
.event_nav {
  margin:18px 0;
  display: flex;
  gap:12px;
}
.event_nav li {
  font-size:15px;
}

.pick { 
  font-weight: 700; 
  color:#111;
  border-bottom: 2px solid #111;
}


.event_card {
  display: flex;
  flex-direction: column;
  gap:10px;
  width: 220px;
  color:#fff;
  font-size:15px;
  font-weight: 300;
}

.event_card img {
  border-radius: 8px;
}


/* 무비 피드 */
.moviefeed img {
  margin: 20px 0 12px;
  width: 100%;
  border-radius: 12px;
}
.konshu_wrap {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
}
.konshu_img {
  flex:1;
  background: url('../img/movie2.jpg') no-repeat center/ cover;
}
.konshu_txt {
  flex:2;
  background-color: #fff;
  padding:20px 12px;
}
.konshu_txt h5 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
}
.konshu_txt p {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.2px;
}

/* 무비 포스트 */

.moviePost_tWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 20px;
}
.moviePost_tWrap a {
  display: inline-block;
  font-size: 12px;
}
.moviePost_tWrap a:after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 10px;
  background: url('../img/arrow-right.png')no-repeat center / contain;
  margin-left:5px;
}
.moviePost > p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

.moviepost_cardWrap {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.moviepost_card {
  background-color:rgba(145, 127, 182,0.4);
  width: 100%;
  height: 100px;
  border-radius: 15px;
  padding:12px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.moviepost_cardImg {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink:0;
}
.moviepost_cardImg img {
  width: 76px;
  height: 76px;
  object-fit: cover;
}
.moviepost_cardTxt {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color:#fff;
  position: relative;
}
.postId {
  color:#eee;
  font-size: 10px;
}

.postTitle {
  font-size:14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin: 10px 0 6px;
}

.postTxt {
  font-size: 12px;
  letter-spacing: -0.33px;
}

.postGood {
  position: absolute;
  top:0;
  right: 0;
  font-size: 12px;
}

.postGood:before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background:url('../img/good.png') no-repeat center / contain;
  margin-right: 6px;
  transform: translateY(2px);
}

.postGood:hover {
  opacity: 0.5;
}

/* 푸터 */

footer {
  background-color: #E2E1E5;
  border-radius: 20px 20px 0 0;
  color:#545255;
  padding:40px 20px 80px;

}

.footer_top {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  margin-bottom: 28px;
}
.linebreak {
  flex-basis: 100%;
}

.footer_top img {
  width: 109px;
  height: 36px;
}

.footer_top ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  justify-content: end;
  letter-spacing: -0.85px;
  gap:8px;
}

.footer_top strong {
  font-weight: 600;
}

.footer_btm {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  margin-bottom: 60px;
}